.App {
  height: 100%;
  width: 100%;
  max-width: 100%;
  color: #fff;
}

body {
  margin: 0 auto;
  background-color: #202020;
  min-width: 320px;
  font-family: "Inter", Arial, sans-serif;
}

.stop-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* div, section, h1 {
  outline: 1px solid red;
} */
